/* TopBar.module.css */
.topBar {
  height: 100px;
  background-color: rgba(38, 133, 191, 1); /* Add your desired background color */
  /* Add any additional styling for the top bar */
}
.mobileButton,.mobile{
 display: none;
 /* position: relative; */
}
.mainContent {
  width: 100vw;
  height: 10vh;
  padding-top: 2vh;
}
.mainSubContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h1Style {
  font-size: 4vh;
  font-weight: 600;
  padding-left: 2vw;
}
.sideMediaQuery {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sideMediaQueryStyles {
  background-color: rgba(38, 133, 191, 1);
  width: 30vw;
  height: 40vh;
  text-align: center;
  padding-top: 10vh;

}

.footerLogo {
  display: flex;
  /* align-items: center; */
  /* padding-top: 300px; */
  color: #FFFFFF;
}

.footerLogo img {
  width: 30px; /* Adjust the width of the image */
  height: 30px; /* Adjust the height of the image */
  border-radius: 50%; /* Make the image circular */

  margin-right: 10px; /* Adjust the spacing between image and text */
}
/* .mobile{
  position: absolute;
  top: 100px;
  width: 20vw;
  height: calc(100vh-100px);
  background-color: blue;
} */
@media(max-width:1030px){
  .link{
    display: none;
  }
  .mobileButton{
    display: block;
    cursor: pointer;
  }
  .topBarMediaQuery{
    display: none;

  }
  /* .mobile{
    position: absolute;
    top: 100px;
    width: 20vw;
    right: 0;
    height: calc(100vh-100px);
    background-color: blue;
  } */
}
.container{
  width: 100vw;
}
.subTopBar {
  display: flex;
  justify-content: center;
  align-items: center
}